.cards {
  display: grid;
  row-gap: 20px;
  column-gap: 18px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
