@media screen and (max-width: 475px) {
  .popup__container_dark {
    max-width: calc(100vw - 40px - 40px);
    width: 100%;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    max-height: 75vh;
  }
}
