.form {
  box-sizing: border-box;
  background-color: #fff;
  padding: 34px 36px 36px 36px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
  width: 100%;
}

@media screen and (max-width: 500px) {
  .form {
    min-width: 238px;
  }
}

@media screen and (max-width: 425px) {
  .form {
    padding: 25px 22px;
  }
}
