.popup__container {
  z-index: 10;
  display: grid;
  grid-template: auto auto / auto auto;
  gap: 8px;
}

@media screen and (max-width: 475px) {
  .popup__container {
    max-width: calc(100vw - 20px - 20px);
    width: 100%;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
  }
}
