.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #fff;
  grid-column: 1 / span 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media screen and (max-width: 600px) {
  .profile__subtitle {
    font-size: calc((100vw - 320px) * (18 - 14) / (600 - 320) + 14px);
    justify-self: center;
  }
}
