.button-icon {
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
  background-color: transparent;
  transition: opacity 0.3 ease;
  background-position: center;
  background-repeat: no-repeat;
}

.button-icon:hover {
  cursor: pointer;
  opacity: .6;
}

.button-icon:focus {
  outline: none;
}
