.form__submit {
  margin-top: 31px;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  font-weight: normal;
  background-color: #000;
  border-radius: 2px;
  border: 0;
  transition: opacity .3 ease;
  height: 50px;
  pointer-events: all;
}

.form__submit:focus {
  outline: none;
}

.form__submit:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .8);
}
