.button-icon_type_avatar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
  background-image: url("../../../images/blocks/profile/profile-edit-button.svg");
  background-size: 26px;
  opacity: 0;
}

.button-icon_type_avatar:hover {
  background-color: #000;
}
