.button-icon_type_add {
  background-image: url("../../../images/blocks/profile/profile-add-button.svg");
  height: 50px;
  width: 150px;
  border-width: 2px;
}

@media screen and (max-width: 600px) {
  .button-icon_type_add {
    background-size: 16px;
    width: 100%;
  }
}
