.button-icon_type_close {
  background-image: url("../../../images/blocks/popup/close-icon.svg");
  background-size: fill;
  width: 32px;
  height: 32px;
  border: 0;
}

@media screen and (max-width: 475px) {
  .button-icon_type_close {
    background-image: url("../../../images/blocks/popup/close-icon-s.svg");
    width: 22px;
    height: 22px;
  }
}
